.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(13, 400px);
  grid-gap: 50px;
  font-size: 16px;
}

@media (min-width: 850px) and (max-width: 1300px) {
  .card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(17, 400px);
    grid-gap: 50px;
    font-size: 14px;
  }
}
@media (max-width: 849px) {
  .card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(25, 400px);
    grid-gap: 50px;
    font-size: 14px;
  }
}
